.contact_main {
    width: 100%;
    padding-top: 80px;
}

.contact_banner {
    background-image: url(../img/par.jpg);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
}

.contact_banner_bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.contact_datil {
    margin: auto;
}

.contact_text {
    padding-top: 50px;
}

.contact_text h2 {
    color: #000000;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 700;
}

.contact_text {
    width: 60%;
    padding-left: 50px;

}

.contact_text p {
    font-size: 22px;
    color: #000000;
    width: 60%;
    margin-bottom: 0px;
}

.help_from {
    padding: 4rem 0rem 5rem 0rem;
}

.helpfrom_title h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 700;
}

.from_text {
    border-right: 2px solid #000000;
}

.from_text h6 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 0px;
}

.from_data input {
    width: 100%;
    background-color: transparent;
    padding: 5px;
    border: 0px;
    border-bottom: 1.5px solid #000000;
    box-shadow: none;
    outline: none;
}

.from_data textarea {
    width: 100%;
    background-color: transparent;
    padding: 5px;
    border: 0px;
    border-bottom: 1.5px solid #000000;
    box-shadow: none;
    outline: none;
    height: 50px;
}

.from_data input::placeholder {
    font-weight: 700;
}

.from_data textarea::placeholder {
    font-weight: 700;
}

.drop_button button {
    color: white;
    background-color: #777b7e;
    padding: 10px 20px;
    font-size: 16px;
    border: solid 1.5px #777b7e;
    border-radius: 25px;
    transition: 0.5s;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    word-spacing: 2px;
    margin-top: 3rem;
}

.drop_button button:hover {
    background-color: transparent;
    color: #777b7e;
    transition: 0.5s;
}
.contact_responsive{
    display: none;
}

/* ********************************** 320 to 575 ************************************* */

@media (min-width: 320px) and (max-width: 575.98px) {

    .contact_responsive{
        display: block;
    }

    .contact_main {
        display: none;
    }
    .contact_text_responsive{
        padding: 0px 10px;
    }
    .contact_text_responsive h2{
        font-size: 24px;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        margin-top: 3rem;
    }
    .contact_text_responsive p{
        text-align: center;
        color: #000000;
        font-size: 18px;
        margin-bottom: 0px;
    }
    .helpfrom_title h2 {
        font-size: 24px;
    }
    .contact_responsive {
        padding-top: 80px;
    }
    .from_text h6{
        font-size: 18px;
    }
    .contact_img {
        height: 100%;
        width: 100%;
    }

    .contact_img img {
        height: 100%;
        width: 100%;
    }

    .from_text {
        border: none;
    }

    .help_from {
        padding: 3rem 0rem 3rem 0rem;
    }

    .contact_m {
        margin-top: 2rem !important;
    }

    .from_data {
        margin-top: 2rem !important;
    }

    .drop_button button {
        color: white;
        background-color: #777b7e;
        width: 125px;
        padding: 8px 0px;
        font-size: 14px;
        border: solid 1.5px #777b7e;
        border-radius: 25px;
        transition: 0.5s;
        font-weight: 700;
        display: block;
        margin: auto;
        text-align: center;
    }
    .drop_button{
        margin-top: 2rem !important;
    }
}

/* ********************************** 575 to 767 ************************************* */

@media (min-width: 575.98px) and (max-width: 767.98px){

    .contact_responsive{
        display: block;
    }

    .contact_main {
        display: none;
    }
    .contact_text_responsive{
        padding: 0px 10px;
    }
    .contact_text_responsive h2{
        font-size: 26px;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        margin-top: 3rem;
    }
    .contact_text_responsive p{
        text-align: center;
        color: #000000;
        font-size: 18px;
        margin-bottom: 0px;
    }
    .helpfrom_title h2 {
        font-size: 26px;
    }
    .contact_responsive {
        padding-top: 80px;
    }
    .from_text h6{
        font-size: 18px;
    }
    .contact_img {
        height: 100%;
        width: 100%;
    }

    .contact_img img {
        height: 100%;
        width: 100%;
    }

    /* .from_text {
        border: none;
    } */

    .help_from {
        padding: 3rem 0rem 3rem 0rem;
    }

    .contact_m {
        margin-top: 2rem !important;
    }

    .drop_button button {
        color: white;
        background-color: #777b7e;
        width: 125px;
        padding: 8px 0px;
        font-size: 14px;
        border: solid 1.5px #777b7e;
        border-radius: 25px;
        transition: 0.5s;
        font-weight: 700;
        display: block;
        margin: auto;
        text-align: center;
    }
    .drop_button{
        margin-top: 2rem !important;
    }
}
/* ********************************** 767 to 991 ************************************* */

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .contact_banner{
        height: 525px;
    }
    .contact_text h2{
        font-size: 28px;
    }
    .contact_text p{
        font-size: 20px;
    }
    .contact_text{
        width: 45%;
    }
    .help_from{
        padding: 4rem 0rem 4rem 0rem;
    }
    .helpfrom_title h2{
        font-size: 28px;
    }
}
/* ********************************** 991 to 1199 ************************************* */

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .contact_text h2{
        font-size: 32px;
    }
    .helpfrom_title h2{
        font-size: 32px;
    }
    .contact_text{
        width: 45%;
    }
    .from_text h6{
        font-size: 18px;
    }
}